* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'IBM Plex Mono';
}

.main-margin {
    margin: 0px 100px 0px 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bottom-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    height: 36px;
    width: 36px;
}

.list {
    display: flex;
    justify-content: space-between;
}

#hamburguesa {
    display: none;
}

#hamburguesa:checked~.list {
    display: none;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
}

a {
    text-decoration: none;
    color: #060A24;
}

.menu-mobile {
    display: none;
    overflow: hidden;
}

.title {
    display: inline-block;
    font-size: 30px;
    font-family: "IBM Plex Sans";
    color: #060A24;
}

.title-text {
    font-size: 64px;
    display: inline-block;
}

.title-text:nth-child(2) {
    text-decoration: line-through;
}

.point {
    color: #0000EC;
}

.margin-title {
    margin-left: 100px;
}

.information {
    display: flex;
    margin-top: 10px;
    font-size: 16px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 226px;
    background-color: #00f3bb;
    border: none;
    margin-top: 50px;
    letter-spacing: 0;
    font-weight: 500;
}

button p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 108px;
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #060A24;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.copyright {
    flex: 4;
    display: flex;
    align-items: center;
}

.social-networks {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28px;
}

.svg {
    height: 20px;
}


/*  media Query mobile*/

@media only screen and (max-width:400px) {
    .main-margin {
        margin: 0px 20px 0px 20px;
    }
    .top-bottom-margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .logo {
        height: 24px;
        width: 24px;
    }
    .menu-desktop {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .seccion-principal {
        margin-left: 0px;
    }
    .margin-title {
        margin: 0px;
    }
    .title-text {
        font-size: 52px;
    }
    button {
        width: 100%;
    }
}

@media only screen and (max-width:400px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .copyright {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}